server:
  port: 8888
spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/stanleysantos/erudio-config-server
          search-paths: 'greeting-service*'
#          username:
#          password:
#          default-label: master
#  profiles:
#    active:
#      - native
management:
  endpoints:
    web:
      exposure:
        include:
          - '*'
  endpoint:
    health:
      show-details: ALWAYS